.header{
    background: #535658;
    height: 70px;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comparison-button {
    background-color: #fff;
    color: black;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #000305;
      color: #fff;
    }
  }